footer
  .footer__logo
    .logo
      p raknjarasoa	
  p.copyright!='© 2018 Made with love '
    i.fa.fa-heart.pulse
    span!=' by '
    a(href='https://www.freecodecamp.org/raknjarasoa')
      strong raknjarasoa
    span!=' | All Rights Reserved '

  .social-icon
    a(href='https://www.facebook.com' target='_blank' rel='noopener noreferrer')
      i.fa.fa-4x.fa-facebook-square(aria-hidden='true')
    a(href='https://www.linkedin.com/in/raknjarasoa/' target='_blank' rel='noopener noreferrer')
      i.fa.fa-4x.fa-linkedin-square(aria-hidden='true')
    a(href='https://github.com/raknjarasoa' target='_blank' rel='noopener noreferrer')
      i.fa.fa-4x.fa-github-square(aria-hidden='true')
    a(href='https://www.freecodecamp.org/raknjarasoa' target='_blank' rel='noopener noreferrer')
      i.fa.fa-4x.fa-free-code-camp(aria-hidden='true')
