@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
// SETTINGS
@import 'settings/settings.colors.scss';
// UTILITIES
@import 'utilities/mixins';
@import 'utilities/print';
// BASE
@import 'base/fonts';
@import 'base/generic';
@import 'base/headings';
@import 'base/typography';
@import 'base/lists';
@import 'base/media';
// VENDORS
@import 'vendors/font-awesome';
// COMPONENTS
@import 'components/animations';
@import 'components/social-icons';
@import 'components/hamburger';

$breakpoints: ( mobile: 20em, tablet: 34em, desktop: 60em);
@mixin breakpoint($screen-size) {
	@if map-has-key($breakpoints, $screen-size) {
		@media (min-width: map-get($breakpoints, $screen-size)) {
			@content;
		}
	}
}

// #Main
html,
body {
	background-color: $dark-color;
	color: $white;
	font-family: "Roboto Condensed", sans-serif, cursive;
	height: 100%;
	margin: 0;
	padding: 0;

	&.overflow--hidden {
		overflow: hidden;
	}
}

.pulse {
	animation: heathing 1s ease infinite;
	color: #eb5e28;
	@include breakpoint(tablet) {
		flex-direction: row;
		right: 10%;
		text-align: left;
	}
	@include breakpoint(desktop) {
		flex-direction: row;
		right: 50%;
		text-align: left;
	}
}
