// SETTINGS
@import 'settings/settings.colors.scss';
// UTILITIES
@import 'utilities/mixins';
@import 'utilities/print';
// BASE
@import 'base/fonts';
@import 'base/generic';
@import 'base/headings';
@import 'base/typography';
@import 'base/lists';
// COMPONENTS
// VENDORS
@import 'vendors/font-awesome';

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
// #Variables
$bg: radial-gradient( farthest-corner at 40px 40px, rgba(33, 150, 243, 0.68) 0%, rgba(233, 30, 99, 0.68) 100%);
$white: #ecf0f1;
$black: #000;
$color-text: #7a89ab;
$darkenColor: darken($white, 20%);
$dark-color: #1d2028;
$footer-height: 300px;
// #Mixins
@mixin transition-all() {
	transition: all 0.25s ease-in-out;
}

$breakpoints: ( mobile: 20em, tablet: 34em, desktop: 60em);
@mixin breakpoint($screen-size) {
	@if map-has-key($breakpoints, $screen-size) {
		@media (min-width: map-get($breakpoints, $screen-size)) {
			@content;
		}
	}
}

// #Main
html,
body {
	background-color: $dark-color;
	color: $white;
	font-family: "Roboto Condensed", sans-serif, cursive;
	height: 100%;
	margin: 0;
	padding: 0;

	&.overflow--hidden {
		overflow: hidden;
	}
}

h1,
h2,
h3 {
	margin: 0;
}

h2 {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 3px 3px 3px 1px #eee;
	color: $black;
	font-size: 40px;
	letter-spacing: 10px;
	line-height: 47px;
	padding: 0 10px;
	text-align: center;

	&+p {
		background-color: rgba(255, 255, 255, 0.6);
		color: #667084;
		font-size: 20px;
		padding: 0 10px;
		text-transform: uppercase;
	}
}

h3 {
	font-size: 23px;
	font-weight: 700;

	&+p {
		margin: 0;
	}
}

section {
	background-color: $dark-color;
}

// #Parallax
.parallax-1,
.parallax-2,
.parallax-3 {
	align-items: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.parallax-1 {
	background-image: url("../images/banner.jpg");
	filter: contrast(75%);
	min-height: 100%;
}

.parallax-2 {
	background-image: url("https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=6aeb5925ed16558774454f81c59c249c");
	background-position: center;
	min-height: 200px;
}

.parallax-3 {
	background-image: url("https://images.unsplash.com/photo-1498230870289-7561110a6e69?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=fe2b05a8d982c3f94945c51416d29fdf");
	background-position: center;
	min-height: 200px;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
	.parallax-1,
	.parallax-2,
	.parallax-3 {
		background-attachment: scroll;
	}
}

// #Header
header {
	align-items: flex-start;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: $dark-color;
	display: flex;
	height: auto;
	justify-content: space-around;
	padding: 20px 0;
	position: fixed;
	top: 0;
	transition: padding 0.25s ease-in-out;
	width: 100%;
	z-index: 9999;

	@include breakpoint(desktop) {
		align-items: center;
	}

	&.shrink {
		background-color: $dark-color;
		border-bottom-color: $white;
		padding: 5px 0;
	}
}

.overflow--hidden {
	header {
		background-color: $dark-color;
		height: 100%;
	}

	.menu {
		top: 25%;
		visibility: visible;
	}
}

// #Menu
.menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	visibility: hidden;

	@include breakpoint(desktop) {
		display: flex;
		flex-direction: row;
		position: unset;
		visibility: visible;
	}

	&__item {
		color: $white;
		letter-spacing: 0.1rem;
		padding: 10px 20px;
		position: relative;
		text-decoration: none;

		&:after {
			content: "|";
			position: absolute;
			right: -5px;
		}

		@include breakpoint(desktop) {
			&:last-of-type:after {
				content: "";
			}
		}
	}

	&__slider {
		background: $bg;
		bottom: 10%;
		height: 6px;
		position: absolute;
		width: 0;

		@include transition-all();
	}
}

// #Hamburger
.hamburger {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: inline-block;
	overflow: visible;
	padding: 15px;

	@include transition-all();

	@include breakpoint(desktop) {
		display: none;
	}

	&:hover {
		opacity: 0.7;
	}

	&__wrapper {
		display: inline-block;
		height: 30px;
		position: relative;
		width: 40px;
	}

	&__inner {
		display: block;
		margin-top: 2px;
		top: 2px;

		&,
		&::before,
		&::after {
			background-color: $white;
			border-radius: 4px;
			height: 4px;
			position: absolute;
			width: 40px;

			@include transition-all();
		}

		&::before,
		&::after {
			content: "";
			display: block;
		}

		&::before {
			top: 10px;

			@include transition-all();
		}

		&::after {
			bottom: -10px;
			top: 20px;
		}
	}

	&.active {
		.hamburger__inner {
			$y-offset: 10px;
			transform: translate3d(0, 10px, 0) rotate(45deg);

			&::before {
				opacity: 0;
				transform: rotate(-45deg) translate3d(-6px, -6px, 0);
			}

			&::after {
				transform: translate3d(0, -20px, 0) rotate(-90deg);
			}
		}
	}
}

// #Tagline
.lifestyle {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	font-size: 3em;
	font-weight: bold;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 50%;

	@include breakpoint(tablet) {
		flex-direction: row;
		right: 10%;
		text-align: left;
	}

	@include breakpoint(desktop) {
		flex-direction: row;
		right: 50%;
		text-align: left;
	}

	span {
		padding: 0 15px;
	}

	&__text {
		background: #3498db; // FE
		color: $white;
		display: inline-flex;
		padding: 10px 12px;
	}

	&__item {
		&:first-child {
			animation: lifestyle 6s linear infinite;
		}

		&:first-child p {
			background: #27ae60; // Fcc
		}

		&:last-child p {
			background: #f1c40f; // Js
		}

		p {
			line-height: 1;
			margin: 0;
		}
	}

	.flip {
		height: 65px;
		overflow: hidden;
	}
}

// #About
#about {
	background-color: $dark-color;
	display: flex;
}

.about {
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 70px 0 60px 50px;

	&:after {
		background: #f7ca18;
		content: "";
		display: block;
		height: 50px;
		left: 40px;
		position: absolute;
		width: 5px;
	}

	strong {
		color: #f7ca18;
		font-size: 50px;
		left: -13px;
		position: relative;
	}

	&__me {
		font-size: 1.2rem;
		letter-spacing: 10px;
	}
}

// #Portfolio
.portfolio {
	&__grid {
		display: grid;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 15px;
		grid-template-columns: repeat(3, 1fr);
		margin: 0 auto;
		max-width: 1280px;
		padding: 50px 5%;

		@include breakpoint(mobile) {
			grid-template-columns: repeat(1, 1fr);
		}

		@include breakpoint(tablet) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint(desktop) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		border: 2px solid white;
		cursor: pointer;
		overflow: hidden;
		position: relative;

		&:hover {
			img {
				transform: scale(1.2);

				@include transition-all();
			}

			.portfolio__info {
				opacity: 1;

				h3,
				p {
					width: 100%;
				}
			}
		}
	}

	&__thumbnail {
		align-items: center;
		display: flex;
		justify-content: center;

		img {
			width: 100%;
		}
	}

	&__info {
		align-items: center;
		background: $bg;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		opacity: 0;
		position: absolute;
		width: 100%;
		z-index: 1;

		@include transition-all();

		h3,
		p {
			color: $black;
			background: #ffffffb3;
			text-align: center;
			width: 0;
			@include transition-all();
		}

		h3 {
			padding: 10px;
		}

		p {
			padding-bottom: 10px;
		}
	}
}

// #Contact
.contact__wrapper {
	align-items: center;
	background-color: #ebeced;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: $footer-height;
	padding: 50px 0;

	form {
		min-width: 320px;
		overflow: hidden;
		width: 50%;

		input[type="text"],
		input[type="tel"],
		input[type="email"] {
			border: 1px solid #d2d2d2;
			border-color: $white;
			color: #747474;
			font-size: 13px;
			height: 60px;
			outline: none;
			padding: 0 15px;
			width: 100%;
		}

		input[type="submit"] {
			background: $bg;
			border: 1px solid transparent;
			color: $white;
			cursor: pointer;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 4px;
			padding: 15px 0px;
			text-transform: uppercase;
			width: 100%;
		}
	}
}

// #Footer
footer {
	align-items: center;
	background-color: $dark-color;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: $footer-height;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	z-index: -1;
}

.footer__logo {
	padding: 20px;
}

.copyright {
	text-align: center;

	a {
		color: $white;
		text-decoration: none;
	}
}

.pulse {
	animation: heathing 1s ease infinite;
	color: #eb5e28;
}

// #My Logo :)
.logo {
	align-items: center;
	backface-visibility: hidden;
	border: 3px solid white;
	display: inline-flex;
	height: 50px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 100px;

	&:before {
		bottom: 2px;
		content: "";
		left: 2px;
		position: absolute;
		width: 22px;
	}

	&:before {
		border-bottom: 46px solid white;
		border-right: 15px solid transparent;

		@supports (mix-blend-mode: difference) {
			// !Magic :)
			mix-blend-mode: difference;
		}
	}

	p {
		font-size: 1.2rem;
		font-weight: 700;
		margin: 0;
	}
}

// #Social network
.social-icon {
	align-items: center;
	display: inline-flex;
	height: 30vh;
	justify-content: center;

	i {
		padding: 0px 10px;
	}

	a {
		text-decoration: none;

		&:nth-child(1) {
			color: #4867aa;
			cursor: pointer;
			text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);

			@include transition-all();
		}

		&:nth-child(1):hover {
			margin-top: -10px;
			text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
			transform: translate(0, -8);
		}

		&:nth-child(2) {
			color: #0077b5;
			cursor: pointer;
			text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);

			@include transition-all();
		}

		&:nth-child(2):hover {
			margin-top: -10px;
			text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
			transform: translate(0, -8);
		}

		&:nth-child(3) {
			color: #444;
			cursor: pointer;
			text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);

			@include transition-all();
		}

		&:nth-child(3):hover {
			margin-top: -10px;
			text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
			transform: translate(0, -5);
		}

		&:nth-child(4) {
			color: darkgreen;
			cursor: pointer;
			text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);

			@include transition-all();
		}

		&:nth-child(4):hover {
			margin-top: -10px;
			text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
			transform: translate(0, -8);
		}
	}
}

@keyframes lifestyle {
	0% {
		margin-top: -205px;
	}

	5% {
		margin-top: -137px;
	}

	33% {
		margin-top: -137px;
	}

	38% {
		margin-top: -68px;
	}

	66% {
		margin-top: -68px;
	}

	71% {
		margin-top: 0;
	}

	99.99% {
		margin-top: 0;
	}

	100% {
		margin-top: -205px;
	}
}

@keyframes heathing {
	0% {
		transform: scale(0.75);
	}

	20% {
		transform: scale(1);
	}

	40% {
		transform: scale(0.75);
	}

	60% {
		transform: scale(1);
	}

	80% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(0.75);
	}
}
