
$sans-font-family: Arial, sans-serif !default;

$serif-font-family: 'Trebuchet MS', 'Times New Roman', Times, serif !default;

$font-master: $sans-font-family !default;

$default-font-family: $sans-font-family !default;
