$sans-font-family: Arial, sans-serif !default;
$serif-font-family: 'Trebuchet MS', 'Times New Roman', Times, serif !default;
$font-family: "Roboto Condensed", sans-serif, cursive;
$default-font-family: $font-family !default;
