
// #My Logo :)
.logo {
	align-items: center;
	backface-visibility: hidden;
	border: 3px solid white;
	display: inline-flex;
	height: 50px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 100px;

	&:before {
		bottom: 2px;
		content: "";
		left: 2px;
		position: absolute;
		width: 22px;
	}

	&:before {
		border-bottom: 46px solid white;
		border-right: 15px solid transparent;

		@supports (mix-blend-mode: difference) {
			// !Magic :)
			mix-blend-mode: difference;
		}
	}

	p {
		font-size: 1.2rem;
		font-weight: 700;
		margin: 0;
	}
}
