$color-black: #000 !default;
$color-white: #ecf0f1 !default;
$color-dark: #1d2028;

$color-grey: #ccc;
$color-grey-light: #ccc;
$color-grey-dark: #ccc;

$color-primary: #fff;
$color-secondary: #fff;
$color-tertiary: #fff;

$color-text: #7a89ab;

$color-bg: radial-gradient( farthest-corner at 40px 40px, rgba(33, 150, 243, 0.68) 0%, rgba(233, 30, 99, 0.68) 100%);
