
$color-black: #000 !default;
$color-white: #fff !default;
$color-grey: #ccc;
$color-grey-light: #ccc;
$color-grey-dark: #ccc;
$color-grey-dark: #ccc;

$color-primary: #fff;
$color-secondary: #fff;
$color-tertiary: #fff;

