span.first
  | @marceloag
  span.new
    i.fa.fa-wrench(aria-hidden='true')
ul.timeline
  li
    .avatar
      img(src='http://www.croop.cl/UI/twitter/images/doug.jpg')
    .bubble-container
      .bubble
        h3 @russel
        |  retweeted 
        h3 @doug
        br
        | 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto, maxime, ullam autem a voluptate rem quos repudiandae.
        .over-bubble
          i.fa.fa-reply(aria-hidden='true')
          i.fa.fa-retweet(aria-hidden='true')
      .arrow
  li
    .avatar
      img(src='http://www.croop.cl/UI/twitter/images/carl.jpg')

    .bubble-container
      .bubble
        h3 @carlf
        br
        | 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto, maxime, ullam autem a voluptate rem quos repudiandae.
        .over-bubble
          i.fa.fa-reply(aria-hidden='true')
          i.fa.fa-retweet(aria-hidden='true')
      .arrow
  
