span.first
  | @marceloag
  span.icon-edit.new
ul.timeline
  li
    .avatar
      img(src='http://www.croop.cl/UI/twitter/images/doug.jpg')
      .hover
        .icon-twitter
    .bubble-container
      .bubble
        .retweet
          .icon-retweet
        h3 @russel
        |  retweeted 
        h3 @doug
        br
        | 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto, maxime, ullam autem a voluptate rem quos repudiandae.
        .over-bubble
          .icon-mail-reply.action
          .icon-retweet.action
          .icon-star
      .arrow
  li
    .avatar
      img(src='http://www.croop.cl/UI/twitter/images/carl.jpg')
      .hover
        .icon-twitter
    .bubble-container
      .bubble
        h3 @carlf
        br
        | 					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iusto, maxime, ullam autem a voluptate rem quos repudiandae.
        .over-bubble
          .icon-mail-reply.action
          .icon-retweet.action
          .icon-star
      .arrow
  
